<div class="col l3 hide-on-med-and-down">
    <div class="row">
        <ul class="dropdown-content dd-fix teal lighten-5">
            <li id="Profil_partial" ><a href="@Url.Action("Profil","Home")"><i class="material-icons prefix purple-text">settings_applications</i><span>Profilim</span></a></li>
            <li id="Messages_partial"><a href="@Url.Action("Messages","Home")"><i class="material-icons prefix purple-text">question_answer</i><span>Mesajlarım</span></a></li>
            <li id="MyAdverts_partial"><a href="@Url.Action("MyAdverts","Home")"><i class="material-icons prefix purple-text">list</i><span>İlanlarım</span></a></li>
            <li><a href="@Url.Action("PostAd","Home")"><i class="material-icons prefix purple-text">library_add</i><span>Yeni İlan Ver</span></a></li>
            <li id="Favorites_partial"><a href="@Url.Action("Favorites","Home")"><i class="material-icons prefix purple-text">grade</i><span>Favorilerim</span></a></li>
        </ul>
    </div>
</div>